.footer {
    background-color: rgb(14, 13, 13);
}

#image {
    padding: 50px;
}

#copywrite {
    color: #FFFFFF;
    font-size: 15px;
    width: 400px;
    margin: auto;
    padding-bottom: 30px;
}

.contact {
    width: 30px;
    float: right;
    padding-top: 80px;
    margin-right: 80px;
}

.login ul li i {
    size: 200px;
    color: blue;
}